
  <div class="container">
	<div class="row">
		<div class="col-md-6">
			<h2><%= @skill.name %></h2>
			<div class="row">
				<a href="/skills/<%= @skill.id %>/edit">
					<h5>Edit Record</h5>
				</a>
			</div>
		</div>
		<div class="col-md-6">
		</div>
	</div>
	<div class="row" id="skillViewShow">
		<h3><%= @skill.name %></h3>
			
		<p><span>Skill:</span> <%= @skill.name %></p>
		<p><span>Description:</span> <%= @skill.description %></p>

		<p><span>Toys <br> <% @toy.name %></span></p>

		<p><a href="/skills">Back to All Skills</a></p>

	<p></p>


	</div>
</div>
